.alert-wrapper{
    padding: 1rem;
    margin-top: 1rem;    
    color: #fff;
    justify-content: center;
    display: flex;
    max-width: 32rem;
    background-color: #A5E1E4;
    margin: auto;
}

.alert-content{
    font-weight: bold;
    color: #c53025;
}