.form-content{
    width: 100%;    
    max-width: 32rem;
    background-color: var(--main-color);
}

.justify-form{
    justify-content: center;
    display: flex;    
}

.field-content{
    margin-bottom: 2rem;
    display: block;
}

label{
    margin-bottom: .5rem;
    font-size: .9rem;
    font-weight: bold;
    display: block; 
    text-transform: uppercase;   
}

.input-field{
    width: 100%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: 1px;
    border-radius: 0;
    overflow: visible;
    margin: 0;
    line-height: 1;
    font-size: 1rem;
}

.form{
    padding: 2rem;
}

.error-content{
    color: #c53025;
    padding: .85rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-left-width: 4px;
    border-color: #c53025;
    --border-opacity: 1;
    background-color: #E9F7F8;
}