
:root{
  --main-color: #588183;
  --bg-color: #DDE2E3;
  --detail-bg-color: #B5C7C8;
  --text-color: #7C9799;    
  --secondary-text-color: #fff;
  --terciary-text-color: #B5C7C8;
  --placeholder-color: #aeaeae;
  --alive: green;
  --dead: red;
  --unknow: yellow;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  border-width: 0;
  border-style: solid;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
  color: var(--text-color);
  background-color: var(--bg-color)  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6{
  margin: 0
}

a{
  text-decoration: none;
  color: var(--main-color)
}

a:hover, a:focus, a:active{
  color: var(--main-color)
}

.App{
  min-height: 100vh;
}

@media (min-width: 640px){
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container {
    max-width: 1280px;
  }
}

.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholder-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--placeholder-color)
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--placeholder-color)
}

input:focus, button:focus{
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.text-center{
  text-align: center;
}

.font-bold{
  font-weight: bold;
}

.title{
  text-align: center;
  color: var(--main-color);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btn, .btn-detail{
  text-transform: uppercase;
  padding: 1rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  border-radius: 0;
  font-weight: bold;
  color: var(--secondary-text-color);
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--secondary-text-color);
  -webkit-transition: color 300ms;
  transition: color 300ms;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn:before, .btn-detail:before{
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.3;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.btn:hover:before {  
  color: black;
  transform: scaleY(1);
  transform: scaleY(1);
}

.btn-detail:hover:before{
  color: var(--main-color);
  transform: scaleY(1);
  transform: scaleY(1);
}

.btn-detail{
  color: var(--main-color);
  border: 1px solid var(--main-color);
  font-size: .9rem;
}

.btn-detail:hover{
  color: #fff
}

.btn-fav{
    background: rgba(255, 172, 172, .3);
    border: 0;
    border-radius: 100px;   
    width: 35px;
    height: 35px;
    position: absolute;    
    top: 12px;
    right: 12px;
}

.alive{
  color: var(--alive);  
  display: inline-block;
}

.dead{
  color: var(--dead);  
  display: inline-block;
}

.unknown{
  color: var(--unknow); 
  display: inline-block; 
}

.bg-alive{
  background-color: var(--alive);
}

.bg-dead{
  background-color: var(--dead);
}

.bg-unknown{
  background-color: var(--unknow);
}